use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).

# cookies
config :gatehouse, GatehouseWeb.Endpoint,
  secret_key_base: "{{ secret_key_base }}"

# database
config :gatehouse, {{ module_name}}.Repo,
  adapter: Ecto.Adapters.MySQL,
  username: "{{ database_username }}",
  password: "{{ database_password }}",
  database: "{{ database_name }}",
  pool_size: 10,
  hostname: "{{ database_hostname }}",
  port: 3306

# authentication
config :gatehouse, Gatehouse.Guardian,
  issuer: "Gatehouse.#{Mix.env}",
  secret_key: to_string(Mix.env) <> "_{{ authentication_secret_key }}",
  ttl: {1, :hour}
